<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.marvelgeek">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".activates.SeriesDetailActivity" />
        <activity android:name=".activates.EventDetailActivity" />
        <activity android:name=".activates.ComicDetailActivity" />
        <activity android:name=".activates.SeriesActivity" />
        <activity android:name=".activates.EventsActivity" />
        <activity android:name=".activates.StoriesActivity" />
        <activity android:name=".activates.CreatorsActivity" />
        <activity android:name=".activates.ComicsActivity" />
        <activity android:name=".activates.CharacterDetailActivity" />
        <activity android:name=".activates.CharactersActivity" />
        <activity android:name=".activates.HomeActivity" />
        <activity android:name=".activates.SignInActivity" />
        <activity android:name=".activates.SignUpActivity" />
        <activity android:name=".activates.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>